<rule name="rule 1O" stopProcessing="true">
	<match url="^(\.well-known/.*)$"  />
	<action type="Rewrite" url="/{R:1}"  />
</rule>
<rule name="rule 2O" stopProcessing="true">
	<match url="^$"  />
	<action type="Rewrite" url="/webroot/"  />
</rule>
<rule name="rule 3O" stopProcessing="true">
	<match url="(.*)"  />
	<action type="Rewrite" url="/webroot/{R:1}"  />
</rule>

